/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: FeedbackMatrix; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 2px; 
	border-left-color: #000000; 
	border-right-style: solid; 
	border-right-width: 2px; 
	border-right-color: #000000; 
	border-top-style: solid; 
	border-top-width: 2px; 
	border-top-color: #000000; 
	border-bottom-style: solid; 
	border-bottom-width: 2px; 
	border-bottom-color: #000000; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #000000; 
	background-color: #ffa500; 
	text-align: center; 
	vertical-align: middle; 
}

mcTableColumnStyle {
	span: 20; 
	separator-style: solid; 
	separator-width: 1px; 
	ruler-style: solid; 
	ruler-width: 1px; 
	ruler-color: #000000; 
	text-align: center; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	background-color: #ffa500; 
	text-align: center; 
	vertical-align: middle; 
	separator-color: #000000; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

 
 
/* Cell Styles: */
 
.TableStyle_FeedbackMatrix
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 2px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 0px 0px 0px 0px;
}

.TableStyle_FeedbackMatrix_Head_0_0
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_0 p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_0_RowSep_ColSep
{
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_0_RowSep
{
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_0_RowSep p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_0_ColSep
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_0_ColSep p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_0_RowSep_ColEnd
{
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_0_RowEnd
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_0_RowEnd p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_0_RowEnd_ColSep
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_0_RowEnd_ColEnd
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_0_ColEnd
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_0_ColEnd p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1
{
	vertical-align: middle;
	background-color: #ffa500;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_1 p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1_RowSep_ColSep
{
	vertical-align: middle;
	background-color: #ffa500;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_1_RowSep_ColSep p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1_RowSep
{
	vertical-align: middle;
	background-color: #ffa500;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_1_RowSep p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1_ColSep
{
	vertical-align: middle;
	background-color: #ffa500;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_1_ColSep p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1_RowSep_ColEnd
{
	vertical-align: middle;
	background-color: #ffa500;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_1_RowSep_ColEnd p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1_RowEnd
{
	vertical-align: middle;
	background-color: #ffa500;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_1_RowEnd p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1_RowEnd_ColSep
{
	vertical-align: middle;
	background-color: #ffa500;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Head_0_1_RowEnd_ColSep p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1_RowEnd_ColEnd
{
	vertical-align: middle;
	background-color: #ffa500;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_1_RowEnd_ColEnd p
{
	
}

.TableStyle_FeedbackMatrix_Head_0_1_ColEnd
{
	vertical-align: middle;
	background-color: #ffa500;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Head_0_1_ColEnd p
{
	
}

.TableStyle_FeedbackMatrix_Body_0_0
{
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_0_ColSep
{
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowEnd
{
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_0_ColEnd
{
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #ffa500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1
{
	font-weight: normal;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_1 p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowSep p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1_ColSep
{
	font-weight: normal;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_1_ColSep p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowEnd
{
	font-weight: normal;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowEnd p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowEnd_ColSep
{
	font-weight: normal;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowEnd_ColEnd
{
	font-weight: normal;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_1_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_FeedbackMatrix_Body_0_1_ColEnd
{
	font-weight: normal;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_FeedbackMatrix_Body_0_1_ColEnd p
{
	font-weight: normal;
}


