/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Matrix;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	type: Header;
	separator-style: double;
	separator-width: 5px;
	separator-color: #000000;
	background-color: #696969;
	color: #dcdcdc;
	size: 160px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	text-align: center;
	size: 50px;
}

mcTableColumnStyle
{
	span: 1;
	size: 50px;
	separator-style: solid;
	separator-width: 3px;
	text-align: center;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #000000;
	color: #dcdcdc;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #696969;
	color: #d3d3d3;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #dcdcdc;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}


/* Cell Styles: */
 
.TableStyle-Matrix
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Matrix .Column-Column1
{
	width: 160px;
}

.TableStyle-Matrix .Column-Column2
{
	width: 50px;
}

.TableStyle-Matrix .Column-Column3
{
	width: 50px;
}

.TableStyle-Matrix .Head-Header1
{
	
}

.TableStyle-Matrix .HeadI-Column1-Header1
{
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadI-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadE-Column1-Header1
{
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadE-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadF-Column1-Header1
{
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadF-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadH-Column1-Header1
{
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadH-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadD-Column1-Header1
{
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadD-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadC-Column1-Header1
{
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadC-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadB-Column1-Header1
{
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadB-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadA-Column1-Header1
{
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadA-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadG-Column1-Header1
{
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadG-Column1-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadI-Column2-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadI-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadE-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadE-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadF-Column2-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadF-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadH-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadH-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadD-Column2-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadD-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadC-Column2-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadC-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadB-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadB-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadA-Column2-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadA-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadG-Column2-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadG-Column2-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadI-Column3-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadI-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadE-Column3-Header1
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadE-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadF-Column3-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadF-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadH-Column3-Header1
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadH-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadD-Column3-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadD-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadC-Column3-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadC-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadB-Column3-Header1
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadB-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadA-Column3-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadA-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .HeadG-Column3-Header1
{
	text-align: center;
	color: #dcdcdc;
	background-color: #000000;
}

.TableStyle-Matrix .HeadG-Column3-Header1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .Head-Header2
{
	
}

.TableStyle-Matrix .HeadI-Column1-Header2
{
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadI-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadE-Column1-Header2
{
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadE-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadF-Column1-Header2
{
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadF-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadH-Column1-Header2
{
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadH-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadD-Column1-Header2
{
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadD-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadC-Column1-Header2
{
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadC-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadB-Column1-Header2
{
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadB-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadA-Column1-Header2
{
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadA-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadG-Column1-Header2
{
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadG-Column1-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadI-Column2-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadI-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadE-Column2-Header2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadE-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadF-Column2-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadF-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadH-Column2-Header2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadH-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadD-Column2-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadD-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadC-Column2-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadC-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadB-Column2-Header2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadB-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadA-Column2-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadA-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadG-Column2-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadG-Column2-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadI-Column3-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadI-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadE-Column3-Header2
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadE-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadF-Column3-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadF-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadH-Column3-Header2
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadH-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadD-Column3-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Matrix .HeadD-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadC-Column3-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadC-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadB-Column3-Header2
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadB-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadA-Column3-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadA-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .HeadG-Column3-Header2
{
	text-align: center;
	color: #d3d3d3;
	background-color: #696969;
}

.TableStyle-Matrix .HeadG-Column3-Header2 p
{
	color: #d3d3d3;
}

.TableStyle-Matrix .Foot-Footer1
{
	
}

.TableStyle-Matrix .FootI-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .FootI-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootE-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootE-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootF-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootF-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootH-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
}

.TableStyle-Matrix .FootH-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootD-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootD-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootC-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .FootC-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootB-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
}

.TableStyle-Matrix .FootB-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootA-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .FootA-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootG-Column1-Footer1
{
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .FootG-Column1-Footer1 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .FootI-Column2-Footer1
{
	text-align: center;
}

.TableStyle-Matrix .FootI-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootE-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootE-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootF-Column2-Footer1
{
	text-align: center;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootF-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootH-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Matrix .FootH-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootD-Column2-Footer1
{
	text-align: center;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootD-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootC-Column2-Footer1
{
	text-align: center;
}

.TableStyle-Matrix .FootC-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootB-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Matrix .FootB-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootA-Column2-Footer1
{
	text-align: center;
}

.TableStyle-Matrix .FootA-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootG-Column2-Footer1
{
	text-align: center;
}

.TableStyle-Matrix .FootG-Column2-Footer1 p
{
	
}

.TableStyle-Matrix .FootI-Column3-Footer1
{
	text-align: center;
}

.TableStyle-Matrix .FootI-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .FootE-Column3-Footer1
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootE-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .FootF-Column3-Footer1
{
	text-align: center;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootF-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .FootH-Column3-Footer1
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
}

.TableStyle-Matrix .FootH-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .FootD-Column3-Footer1
{
	text-align: center;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Matrix .FootD-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .FootC-Column3-Footer1
{
	text-align: center;
}

.TableStyle-Matrix .FootC-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .FootB-Column3-Footer1
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
}

.TableStyle-Matrix .FootB-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .FootA-Column3-Footer1
{
	text-align: center;
}

.TableStyle-Matrix .FootA-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .FootG-Column3-Footer1
{
	text-align: center;
}

.TableStyle-Matrix .FootG-Column3-Footer1 p
{
	
}

.TableStyle-Matrix .Body-Body1
{
	
}

.TableStyle-Matrix .BodyI-Column1-Body1
{
	font-weight: normal;
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyI-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
}

.TableStyle-Matrix .BodyE-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyF-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyH-Column1-Body1
{
	font-weight: normal;
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
}

.TableStyle-Matrix .BodyH-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyD-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyC-Column1-Body1
{
	font-weight: normal;
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyC-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyB-Column1-Body1
{
	font-weight: normal;
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
}

.TableStyle-Matrix .BodyB-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyA-Column1-Body1
{
	font-weight: normal;
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyA-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyG-Column1-Body1
{
	font-weight: normal;
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyG-Column1-Body1 p
{
	font-weight: normal;
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyI-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-Matrix .BodyI-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyE-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyE-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyF-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Matrix .BodyF-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyH-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyH-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyD-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Matrix .BodyD-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyC-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-Matrix .BodyC-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyB-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyB-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyA-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-Matrix .BodyA-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyG-Column2-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-Matrix .BodyG-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyI-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-Matrix .BodyI-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyE-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyE-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyF-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Matrix .BodyF-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyH-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyH-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyD-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Matrix .BodyD-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyC-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-Matrix .BodyC-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyB-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyB-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyA-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-Matrix .BodyA-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .BodyG-Column3-Body1
{
	font-weight: normal;
	background-color: #dcdcdc;
	text-align: center;
}

.TableStyle-Matrix .BodyG-Column3-Body1 p
{
	font-weight: normal;
}

.TableStyle-Matrix .Body-Body2
{
	
}

.TableStyle-Matrix .BodyI-Column1-Body2
{
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyI-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
}

.TableStyle-Matrix .BodyE-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyF-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyH-Column1-Body2
{
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
}

.TableStyle-Matrix .BodyH-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyD-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyC-Column1-Body2
{
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyC-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyB-Column1-Body2
{
	color: #dcdcdc;
	background-color: #696969;
	border-right-width: 5px;
	border-right-color: #000000;
	border-right-style: double;
}

.TableStyle-Matrix .BodyB-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyA-Column1-Body2
{
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyA-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyG-Column1-Body2
{
	color: #dcdcdc;
	background-color: #696969;
}

.TableStyle-Matrix .BodyG-Column1-Body2 p
{
	color: #dcdcdc;
}

.TableStyle-Matrix .BodyI-Column2-Body2
{
	text-align: center;
}

.TableStyle-Matrix .BodyI-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyE-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyE-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyF-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Matrix .BodyF-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyH-Column2-Body2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyH-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyD-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Matrix .BodyD-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyC-Column2-Body2
{
	text-align: center;
}

.TableStyle-Matrix .BodyC-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyB-Column2-Body2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyB-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyA-Column2-Body2
{
	text-align: center;
}

.TableStyle-Matrix .BodyA-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyG-Column2-Body2
{
	text-align: center;
}

.TableStyle-Matrix .BodyG-Column2-Body2 p
{
	
}

.TableStyle-Matrix .BodyI-Column3-Body2
{
	text-align: center;
}

.TableStyle-Matrix .BodyI-Column3-Body2 p
{
	
}

.TableStyle-Matrix .BodyE-Column3-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyE-Column3-Body2 p
{
	
}

.TableStyle-Matrix .BodyF-Column3-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Matrix .BodyF-Column3-Body2 p
{
	
}

.TableStyle-Matrix .BodyH-Column3-Body2
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyH-Column3-Body2 p
{
	
}

.TableStyle-Matrix .BodyD-Column3-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Matrix .BodyD-Column3-Body2 p
{
	
}

.TableStyle-Matrix .BodyC-Column3-Body2
{
	text-align: center;
}

.TableStyle-Matrix .BodyC-Column3-Body2 p
{
	
}

.TableStyle-Matrix .BodyB-Column3-Body2
{
	text-align: center;
	border-right-width: 3px;
	border-right-style: solid;
}

.TableStyle-Matrix .BodyB-Column3-Body2 p
{
	
}

.TableStyle-Matrix .BodyA-Column3-Body2
{
	text-align: center;
}

.TableStyle-Matrix .BodyA-Column3-Body2 p
{
	
}

.TableStyle-Matrix .BodyG-Column3-Body2
{
	text-align: center;
}

.TableStyle-Matrix .BodyG-Column3-Body2 p
{
	
}


