<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="1244" MadCap:lastWidth="1518" MadCap:fileTags="AuthorFileTagSet.Matthew,Status.Flare V7 Needs Review,Product.Flare">
    <head>
    </head>
    <body>
        <h2>Templates - Baseline</h2>
        <h3>Baseline</h3>
        <p><b>29691</b>  Can't use a template from a network location (UNC or Mapped)</p>
        <p><b>29697</b>	When we create a Templates folder we create a couple 'odd' folders: EPUB, DITA</p>
        <p><b>29698</b>There is no way to delete just one file from the Manage Template Dialog.</p>
        <p><b>29700</b>	There is no way to add just one file from the Manage Template Dialog.</p>
        <p><b>29707</b>	There is no option to Overwrite a template if it already exists. </p>
        <p><b>29943</b>	Canceling the Add New Topic UI will expand the dialog then close it…</p>
        <p><b>29948</b>	If you run Flare with non-English UI, you can't create a new project because it cannot find the templates.</p>
        <p><b>29949</b>	Templates saved to translated "My Templates" folders are not appearing when running Flare in German or French.</p>
        <p><b>29951</b>	The old Target templates are still accessible if you run Flare in French.</p>
        <p><b>30171</b>Comments become active for Topics</p>
        <p><b>30177</b>	You can double-click a Template item and it will open and be editable in the editor&#160;</p>
        <p><b>30183</b> If "New from existing" is selected when you open any "Add New.." dialog, it is not very obvious.  When I start clicking in the folder structure of the "New from template" section and nothing happens, it seems like Flare is frozen.</p>
        <p><b>30735</b>	We are setting a &lt;title&gt; for all new topics.</p>
        <p><b>31091</b>	Failed to run command 'Manage Templates...'.</p>
        <p><b>31246</b>	When saving a project as a project template, we should not copy the Project/Users folder.&#160;</p>
        <p><b>31315</b> Can't rename a template folder/file via the Template Manager.</p>
        <p><b>31405</b>	Adding a new topic is bringing in linked topics also.</p>
        <p><b>31594</b>	Errors and crashes, when Managing templates and "My Templates" folder doesn't exist.</p>
        <p><b>31663</b>	Able to Delete your entire Desktop, C:\ or content of existing folders…</p>
        <p><b>31989</b> When creating a new topic, the 1st Heading field always populates with the last text that was entered there.</p>
        <p><b>32009</b>	In any of our Add {File Type} dialogs, if you double-click one of the templates, the actual template opens in Flare.</p>
        <p><b>32017</b> Errors when re-opening the Add Picture UI</p>
        <p class="bold" style="font-weight: normal;"><b>32192</b> Clicking around the list of files in the Save Project as Template Wizard may result in some files not being included in the template project.</p>
        <p><b>32414</b> Crash when trying to Save as template when there are no template folders.</p>
        <p class="bold" style="font-weight: normal;"><b>32420</b> Template Manager button is active when creating a new project with no project open</p>
        <p class="bold" style="font-weight: normal;"><b>32943</b> Project templates don't work unless the project FOLDER has the *.flprj extension.</p>
        <p><b>32976</b> In the Template Manager, some files do not display the correct icon.</p>
        <p class="bold" style="font-weight: normal;"><b>32977</b> After adding a template folder, I have to press F5 to see the files.</p>
        <p class="bold" style="font-weight: normal;"><b>32981</b> We offer some interesting file extension when browsing for files to add as templates.</p>
        <p class="bold" style="font-weight: normal;"><b>33067</b> Select Frame Text dialog needs to be updated to be consistent with other updated Template dialogs.</p>
        <p><b>33102</b> Folder icon not shown until F5 is pressed after creating a template folder</p>
        <p><b>33125</b> Mapped network folder shows up as Blank (just the icon) in template screens and template manager</p>
        <p><b>33126</b> Flare loses track of network and mapped drives for template folders if the machine loses and regains connection</p>
        <p><b>33128</b> We need to strip the Topic Title if it is saved as a template</p>
        <p><b>33144</b> Edit description is not disabled for Topics (or other items that show a preview instead of a description)</p>
        <p class="bold" style="font-weight: normal;"><b>33148</b> Crash when saving a file (topic) as a template on a folder you do not have permissions to on the network</p>
        <p class="bold" style="font-weight: normal;"><b>33171</b> <![CDATA[ ]]>Ugly error when cutting/pasting in the Template Manager, show files view</p>
        <p class="bold" style="font-weight: normal;"><b>33177</b> <![CDATA[ ]]>Error adding multimedia when an .mp4 is selected by default&#160;</p>
        <p class="bold" style="font-weight: normal;"><b>33189</b> <![CDATA[ ]]>A blank description is problematic for a Synonym file</p>
        <p class="bold" style="font-weight: normal;"><b>33209</b> <![CDATA[ ]]>Project description does not show in Template Manager. Errors out if you attempt to edit it.</p>
        <p class="bold" style="font-weight: normal;"><b>33217</b> <![CDATA[ ]]>Crash when trying to open a file for editing you have deleted</p>
        <p class="bold" style="font-weight: normal;"><b>33221</b> <![CDATA[ ]]>If you rename a project template file using the Template Manager, and then try to use that template, you get an error because the folder containing the project was not renamed as well.</p>
        <p class="bold" style="font-weight: normal;"><b>33382</b> Template files can be sent to Backups.</p>
        <p class="bold" style="font-weight: normal;"><b>33384</b> <![CDATA[ ]]>Template files can be used to create Contribution Templates.&#160;</p>
        <p class="bold" style="font-weight: normal;"><b>33446</b> <![CDATA[ ]]>Error trying to create a template project out of a project that is bound to source control and not checked out.</p>
        <p class="bold" style="font-weight: normal;"><b>33527</b> <![CDATA[ ]]>We are renaming folders when trying to rename project template files.</p>
        <p class="bold" style="font-weight: normal;"><b>33906</b> Copy / Pasting a template file into a directory it already exists in, will invoke the new Confirm Replace Dialog. Choosing "Replace" in this dialog causes a crash.&#160;</p>
        <p class="bold" style="font-weight: normal;"><b>34371</b> <![CDATA[ ]]>Saving projects as Templates removes conditions / Prop files set on folders. Test both the Content Explorer and Project Manager.</p>
        <p class="bold" style="font-weight: normal;"><b>34439</b> <![CDATA[ ]]>Crash when trying to use a template project with two WebHelp targets (also repro'd with 2 PDF targets).</p>
        <p class="bold" style="font-weight: normal;"><b>34441</b> <![CDATA[ ]]>If you are using a network location for project templates, we create a User folder in the Project and Output folder for anyone who opens the project for editing.  The Project/Users folder is getting copied to new projects when anyone uses the template.</p>
        <p class="bold" style="font-weight: normal;"><b>38564</b> Object reference error if you try to send a template file to the Internal Text Editor.</p>
        <p class="bold" style="font-weight: normal;"><b>38860</b> Flare crashes when attempting to Save as Template if no template folders are specified.</p>
        <p class="bold" style="font-weight: normal;"><b>39382</b> Failed to run command 'Open Folder in Windows'. Exception:Cannot start process because a file name has not been provided.</p>
        <p class="bold" style="font-weight: normal;"><b>39401</b> The 'Filter' drop-down is disabled in the 'Template Manager' dialog.</p>
        <p class="bold" style="font-weight: normal;"><b>39406</b> Failed to run command 'New Folder'.Exception:The given path's format is not supported.</p>
        <p class="bold" style="font-weight: normal;"><b>39407</b> The 'Make New Folder' button is not working correctly in the 'Select Folder' dialog when adding a new template folder.</p>
        <p class="bold" style="font-weight: normal;"><b>39423</b> Flare freezes and stops responding when trying to create a new folder in a SharePoint server.</p>
        <p class="bold" style="font-weight: normal;"><b>39427</b> Getting error when trying to delete a template in the 'Template Manager' dialog window.</p>
        <p class="bold" style="font-weight: normal;"><b>39435</b> Not able to rename a new folder when adding templates.</p>
        <p class="bold" style="font-weight: normal;"><b>39438</b> Flare freezes and stops responding when opening a SharePoint server.</p>
        <p class="bold" style="font-weight: normal;"><b>40344</b> Object Rename Failed: Object reference not set to an instance of an object.</p>
        <p class="bold" style="font-weight: normal;"><b>40355</b> Unable to open a template project.</p>
        <p class="bold" style="font-weight: normal;"><b>40505</b> Error when attempting to overwrite an existing template file</p>
        <p class="bold" style="font-weight: normal;"><b>40511</b> Getting error when saving a file as Template when the template folder is in SharePoint.</p>
        <p class="bold" style="font-weight: normal;"><b>42465</b> Adding a template file to a template folder that exists in SharePoint would not show the file until closing and re-opening the Flare project.</p>
        <p class="bold" style="font-weight: normal;"><b>42534</b> Cannot create a new project from a project template that’s on Sharepoint. Errors -Failed to Load target file…Failed to create new project…</p>
        <p class="bold" style="font-weight: normal;"><b>42620</b> Adding a SharePoint folder as a template is not working well.</p>
        <p class="bold" style="font-weight: normal;"><b>42782</b> flare hangs for a long time when clicking on a .htm in the template manager from a sharepoint folder</p>
        <p><b>45742</b> Problem: If you create a project based on a template bound to .svn - your new project brings in and unhides the .svn folders.</p>
        <p><b>50769</b> Flare crashes if you attempt to create a project using a template which has no targets.</p>
    </body>
</html>